*
{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}

.main
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100%;
}

h1
{
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
}

.btn
{
    text-align: center;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 50px;
}
button
{
    width: 100px;
    padding: 30px;
    font-size: 50px;
    border: none;
    border-radius: 5px;
}

#rock
{
    background-color: rgb(234, 146, 32);
}
#paper
{
    background-color: rgb(4, 233, 250);
}

#scissors
{
    background-color: rgb(22, 202, 76);
}

p
{
    text-align: center;
    margin: 20px;
}

.result
{
    font-size: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.scores
{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#user-score
{
    color: green;
   font-weight: bolder;
}

#computer-score
{
    color: red;
   font-weight: bolder;
}

 
